@use 'variaveis';

.about {
    background-image: linear-gradient(to left, variaveis.$corRoxa, variaveis.$corFundoLink);
    box-shadow: 1px 1px 5px variaveis.$corRoxa;
    padding: 24px;
    padding-bottom: 50px;
    border-radius: 16px;
    display: flex;
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    align-items: center;

    @media (max-width: 767px) {
        display: block;
        text-align: center;
    }

    &__img {
        max-width: 650px;
        margin-right: 15px;

        @media (max-width: 767px) {
            margin-right: 0;
            max-width: 350px;
        }

        img {
            width: 100%;
        }
    }

    &__info {
        color: variaveis.$corLetra;
        padding-right: 20px;

        @media (max-width: 767px) {
            padding-right: 0;
        }
        

        &__title {
            text-align: center;
            font-size: 26px;
            font-family: moodern, sans-serif;
            letter-spacing: 2px;
            margin-bottom: 24px;
            text-shadow: 1px 1px 1px #000;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        &__text {
            text-align: justify;
        }
    }
}