@use 'variaveis';

.faq {
    margin-top: 250px;
    background-image: linear-gradient(to left, variaveis.$corRoxa, variaveis.$corFundoLink);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 1px 1px 5px variaveis.$corRoxa;

    @media (max-width: 767px) {
        margin-top: 150px;
    }

    &__title {
        text-align: center;
        color: variaveis.$corLetra;
        font-size: 36px;
        font-family: moodern, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 36px;
        text-shadow: 1px 1px 1px #000;

        @media (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 24px;
        }
    }

    &__questions {

        &__item {
            background-color: variaveis.$corBloq;
            margin-bottom: 16px;
            border-radius: 40px;

            &__pergunta {
                color: variaveis.$corLetra;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width: 767px) {
                    font-size: 16px;
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;

                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }

            &__resposta {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;

                p {
                    margin-top: 16px;
                    color: variaveis.$corLetra;
                }
            }

            &--is-open {
                .faq__questions__item__pergunta::after {
                    content: '-';
                }
    
                .faq__questions__item__resposta {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .2s ease;
                }
            }
        }
    }
}