@use 'variaveis';

.hero {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;

    @media (max-width: 767px) {
        .hero {
            &__content {
                display: block;
                margin: 0 auto;
                padding: 0;

                &__title {
                    &__h1 {
                        padding-top: 20px;
                        font-size: 30px;
                        margin-bottom: 5px;
                    }
            
                    &__subtitle {
                        font-size: 14px;
                    }
                }
            
                    &__image {
                        display: none;
                        margin: 0;
            
                        &__img {
                            width: 100%;
                        }
                    }
            }
        }

    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000c9;
        content: '';
    }

    .container {
        position: relative;
        text-align: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;

        &__title {
        color: variaveis.$corLetra;

        &__h1 {
            font-size: 46px;
            letter-spacing: 10px;
            font-family: moodern, sans-serif;
            margin-bottom: 10px;
        }

        &__subtitle {
            margin-top: 16px;
            font-size: 14px;
            font-style: italic;
        }
    }

        &__image {
            max-width: 300px;

            @media (max-width: 1024px) {
                max-width: 250px;
            }

            &__img {
                width: 100%;
            }
        }
    }
}