@use 'variaveis';

.market {
    margin-top: 250px;
    background-image: linear-gradient(to left, variaveis.$corRoxa, variaveis.$corFundoLink);
    padding: 24px;
    border-radius: 16px;
    box-shadow: 1px 1px 5px variaveis.$corRoxa;

    @media (max-width: 767px) {
        margin-top: 150px;
    }

    &__title {
        text-align: center;
        color: variaveis.$corLetra;
        font-size: 36px;
        font-family: moodern, sans-serif;
        letter-spacing: 2px;
        margin-bottom: 36px;
        text-shadow: 1px 1px 1px #000;

        @media (max-width: 1024px) {
            font-size: 23px;
        }

        @media (max-width: 767px) {
            font-size: 20px;
            margin-bottom: 24px;
        }
    }

    &__acao {


        &__title {
            color: variaveis.$corLetra;
            font-size: 28px;
            text-shadow: 1px 1px 1px #000;
            text-transform: uppercase;
            margin-bottom: 28px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 1024px) {
                font-size: 20px;
            }

            @media (max-width: 767px) {
                font-size: 16px;
                margin-top: 80px;
                margin-bottom: 20px;
                display: block;
                text-align: center;
            }

            .image {
                max-width: 20px;
                width: 100%;
                margin-right: 5px;
            }
        }

        &__variation {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            margin-bottom: 36px;
            border-radius: 40px;
            background-color: variaveis.$corBloq;
            padding: 24px;
            max-width: 50%;

            @media (max-width: 1024px) {
                align-items: center;
            }


            @media (max-width: 767px) {
                display: block;
                text-align: center;
                max-width: 100%;
                padding: 12px;
                margin-bottom: 16px;
            }

            &__coin {
                color: variaveis.$corLetra;
                font-size: 28px;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    padding-right: 10px;
                }


                @media (max-width: 767px) {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
            }

            &__number {
                font-size: 28px;
                font-weight: bold;
                letter-spacing: 3px;

                &--max {
                    color: variaveis.$corAlta;
                }

                &--min {
                    color: variaveis.$corBaixa;
                }

                @media (max-width: 1024px) {
                    font-size: 20px;
                }

                @media (max-width: 767px) {
                    font-size: 18px;
                }
            }
        }

        &--is-disable {
            display: none;
        }

        &__bloq {
            display: block;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 150px;
            border-radius: 40px;
            background-color: variaveis.$corBloq;
            padding: 24px;
            max-width: 50%;

            @media (max-width: 1024px) {
                padding: 10px;
                margin-top: 80px;
                margin-bottom: 80px;
            }

            @media (max-width: 767px) {
                padding: 16px;
                max-width: 100%;
                margin-top: 100px;
                margin-bottom: 120px;
            }

            &__img {
                max-width: 100px;
                margin-bottom: 24px;

                @media (max-width: 767px) {
                    max-width: 80px;
                    margin-bottom: 20px;
                }
            }

            &__msg {
                font-size: 14px;
                color: variaveis.$corLetra;
                text-decoration: underline;
                font-style: italic;

                @media (max-width: 767px) {
                    font-size: 12px;
                    text-decoration: none;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        margin-top: 100px;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
        text-shadow: 1px 1px 1px #000;

        &__verMais {
            padding: 16px;
            border-radius: 8px;
            font-size: 20px;
            font-family: moodern, sans-serif;
            background-color: lighten(variaveis.$corFundoLinkHover, 20%);
            color: variaveis.$corLetra;
            transition: .5s ease;
            border: none;
            width: 20%;
            cursor: pointer;
            letter-spacing: 3px;
            margin-right: 0px;
            margin: 0 15px 0 15px;

            @media (max-width: 1024px) {
                padding: 12px 8px;
                width: 40%;
                margin-right: 0px;
                margin: 0 5px 0 5px;
            }

            @media (max-width: 767px) {
                padding: 12px;
                margin-top: 40px;
                font-size: 12px;
                width: 80%;
                margin-right: 0px;
                margin: 0 5px 0 5px;
            }

            &:hover {
                color: variaveis.$corFundoLinkHover;
                background-color: variaveis.$corLetra;
                letter-spacing: 12px;
                width: 30%;
                
                @media (max-width: 1024px) {
                    letter-spacing: 3px;
                    width: 50%;
                }

                @media (max-width: 767px) {
                    letter-spacing: 3px;
                    width: 80%;
                }
                }

            &--is-active {
                background-color: lighten(variaveis.$corFundoLinkHover, 50%);
            }
        }
    }
}