@use 'hero';
@use 'variaveis';
@use 'about';
@use 'signature';
@use 'market';
@use 'faq';
@use 'nav';
@use 'form';

@font-face {
    font-family: moodern;
    src: url(../../assets/fonts/MOODERN.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: roboto, sans-serif;
}

.body {
    background-image: url(../../dist/images/background-borrado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;

    @media (max-width: 767px) {
        background-attachment: none;
        background-position: top;
    }
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    padding-top: 20px;

    @media (max-width: 1024px) {
        max-width: 90%;
    }

    @media (max-width: 767px) {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
}